{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Blog Index{% endblock %}

{% block content %}
    <div style="border: solid">
        <h4>Voici notre ptit composant React : </h4>
        <p>6. Consultez la balise head de base.html.twig, et consultez le fichier /assets/App.js</p>
        <div id="root"></div>
    </div>
{% endblock %}
